/*
style for header component
*/

.header {
    width: 100%;
    background-color: #ffffff;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0% 1%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}

.button {
    background-color: inherit;
}