/* colors */
#root {
  --primary: #383a47;
  --secondary: #479db4;
  --header: #ffffff;
  --section: #ffffff;
  --green: #48d048;
  --red: #ff0000;
  --yellow: #ffcc00;
  --orange: #ff6600;
  --background: #e6e6e6;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #213547;
  background-color: #383a47;

  font-synthesis: none; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  width: fit-content;
  max-width: 80%;
  background-color: var(--section);
  padding: 10px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: inherit;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
  vertical-align: middle;
  background-size: contain;
}

.add {
  background-image: url('./style/icons/icons8-ajouter-50.png');
}
.delete {
  background-image: url('./style/icons/icons8-supprimer-48.png');
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
  }
} */

@media screen and (max-width: 900px) {
  section {
    width: 100%;
    max-width: 100vw;
    border-radius: 0;
  }
}
